# Visual Studio user specific cache
/.vs

# Visual Studio CMake builds and cache
/out

# CMake builds and cache
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps